.navbar {
  background: #0ea5e9;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}